#Project files
/.idea
/.vscode
/.metals
.bloop/
metals.sbt

# Build files
target/
/*.jar

# Proxy configuration
cacerts

# Temp files
/*.log
/*.so
/*.dll
/save/
/ref/
/node_modules/
