/* General styling */
/* ------------------------------------------------------------------------------------------------------------------ */
@font-face {
  font-family: "unscii-16";
  src: url("../fonts/unscii-16.woff") format('woff');
}

@font-face {
  font-family: "unscii-8-thin";
  src: url("../fonts/unscii-8-thin.woff") format('woff');
}

@font-face {
  font-family: "unscii-8";
  src: url("../fonts/unscii-8.woff") format('woff');
}

html, body { height: 100%; margin: 0px; padding: 0px; }

body {
  background-image: url("../images/skulls.png");
  background-repeat: repeat;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14pt;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

button {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16pt;
  background: #000000CC;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
}

button:active {
  background: #7224B9CC;
}

input {
  border-radius: 3px;
  height: 30px;
  background-image: url("../images/skulls.png");
  background-repeat: repeat;
  border: solid 2px #00000033;
  padding-left: 10px;
}

input:focus {
  border: solid 2px #7224B9CC;
}

h1, h2, h3, h4, h5 {
  font-family: "unscii-16", monospace;
}

a {
  color: #7224B9CC;
}

a:hover {
  color: #7224B9FF;
}

a:focus {
  color: #FF24B9FF;
}

/* Additional UI classes */
/* ------------------------------------------------------------------------------------------------------------------ */
.panel {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  padding: 12px 15px 12px 15px;
  color: #fff;
  margin: 30px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0px; padding: 0px;
}

.spinning {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(-360deg); }
}

.hidden {
  display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.crisp {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: pixelated;                 /* Chrome */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  image-rendering: optimize-contrast;         /* CSS3 Proposed */
  -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}

.warning-f {
  animation: flash 1s linear;
}
@keyframes flash {
  10% { color: #d01717; }
}

.warning-b {
  animation: flash 1s linear;
}
@keyframes flash {
  10% { background: #FF24B933; }
}

/* Layout - Watermark Layer */
/* ------------------------------------------------------------------------------------------------------------------ */

#watermark {
  z-index: -1;
}

/* Layout - Container layer */
/* ------------------------------------------------------------------------------------------------------------------ */
#container {
  overflow: hidden;
}
#content {
  height: 100%;
  margin: 0 120px 0 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Menu */
/* ------------------------------------------------------------------------------------------------------------------ */
.menu {
  margin: 10px;
  z-index: 1;
}

.menu-item {
  display: flex;
  flex-flow: row;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  outline: none;
  text-decoration: none;
}

.menu-item-left {
  justify-content: flex-start;
}

.menu-item-right {
  justify-content: flex-end;
}

.menu-item:hover {
  background: #000000CC;
  color: #FFFFFFCC;
}

.menu-item:hover a {
  color: #FFFFFFCC;
}

.menu-item-title {
  padding-top: 5px;
  font-size: 16pt;
  display: none;
}

.menu-item-left .menu-item-title {
  margin-left: 20px;
}

.menu-item-right .menu-item-title {
  margin-right: 20px;
}

.menu-item:hover .menu-item-title {
  display: block;
}

.menu-icon-default {
  display: block;
}
.menu-item:hover .menu-icon-default {
  display: none;
}

.menu-icon-hover {
  display: none;
}
.menu-item:hover .menu-icon-hover {
  display: block;
}

/* Intro */
/* ------------------------------------------------------------------------------------------------------------------ */

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro-logo {
  margin-bottom: 30px;
}

/* Workspaces */
/* ------------------------------------------------------------------------------------------------------------------ */
.workspace-item {
  cursor: pointer;
  border-radius: 3px;
  border: solid 2px #00000033;
  padding: 15px 20px 15px 20px;
  color: #000000CC;
  margin: 30px;
}

.workspace-item:hover {
  border: solid 2px #000000CC;
  background: #000000CC;
  color: #FFFFFFCC;
}

.workspace-item:active {
border: solid 2px #7224B9CC;
  background: #7224B9CC;
}

.workspace-item-title {
  font-family: "unscii-16", monospace;
  font-size: 14pt;
  margin-bottom: 10px;
}

.workspace-item-subtitle {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 12pt;
}


.workspace-block {
  position: absolute;
  background: #0003;
  color: #000c;
  padding: 4px;
  border-radius: 3px;
  font-family: "unscii-8", monospace;
  font-size: 12pt;
}

.workspace-block img {
  width: 100%;
}

.workspace-block div {
  width: 100%;
}

.workspace-block .address {
  margin-top: 4px;
  margin-bottom: -4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "";
}

.workspace-block:hover {
  background: #7224B933;
}

.workspace-block:active {
  background: #7224B9CC;
  color: #fffc;
}

.workspace-block .overlay {
  position: absolute;
  top: 4px;
  left: 4px;
}

.workspace-wire {
  position: absolute;
  stroke: #0003;
  stroke-width: 5;
  fill: transparent;
  pointer-events: none;
}

.workspace-wire path {
  pointer-events: auto;
}

.workspace-wire path:hover {
  stroke: #7224B933;
}


.create {
  background: rgba(127, 168, 82, 0.8);
  box-shadow: 0px 8px 20px rgba(66, 106, 22, 0.8);
}


#terminal {
  visibility: hidden;
  cursor: default;
  border-radius: 3px;
  border-color: rgba(0, 0, 0, 0.8);
  border-style: solid;
  border-width: 12px 15px 12px 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.8);
}
#terminal:focus {
  outline: none;
  caret-color: transparent;
  color: transparent;
}

/* Login / Registration form */
/* ------------------------------------------------------------------------------------------------------------------ */
.login-form {
  display: flex;
  flex-flow: column;
  padding: 20px 30px;
}
.login-form .header {
  margin: 10px 0 10px 0;
}

.login-form .logo, .login-form button {
  margin: 20px;
  align-self: center;
}

.login-form button {
  margin-top: 30px;
}
