/* General styling */
/* ------------------------------------------------------------------------------------------------------------------ */
html, body { height: 100%; margin: 0px; padding: 0px; }

body {
  background-image: url("../images/skulls.png");
  background-repeat: repeat;
  display: flex;
  flex-flow: column;
}

@font-face {
  font-family: "unscii-16";
  src: url("../fonts/unscii-16.woff") format('woff');
}

@font-face {
  font-family: "unscii-8-thin";
  src: url("../fonts/unscii-8-thin.woff") format('woff');
}

@font-face {
  font-family: "unscii-8";
  src: url("../fonts/unscii-8.woff") format('woff');
}

.button {
  display: inline-block;
  cursor: pointer;
}

input {
  border-radius: 3px;
  height: 30px;
  background: #fff;
  border: solid 2px #fff;
}

input:focus {
  border: solid 2px rgba(127, 168, 82, 0.8);
}

/* General UI elements */
/* ------------------------------------------------------------------------------------------------------------------ */
.panel {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  padding: 12px 15px 12px 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.8);
  color: #fff;
  margin: 30px;
}

/* Main layout */
/* ------------------------------------------------------------------------------------------------------------------ */
#container {
  flex-grow : 1;
  margin: 0 30px 30px 30px;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#titlebar {
  font-family: "unscii-16", monospace;
  font-size: 14pt;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.8);
}
#titlebar a {
  color: #fff;
  text-decoration: none;
}
.disabled {
  color: #999 !important;
}
.title, .item-breadcrumbs {
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
}

.nav-panel, .tool-panel, .profile-panel {
  display: inline-block;
}

.profile-panel .button {
  margin-left: 20px;
}

#watermark {
  z-index: -1;
}

/* Workspaces */
/* ------------------------------------------------------------------------------------------------------------------ */
.item {
  cursor: pointer;
  font-family: "unscii-16", monospace;
  font-size: 14pt;
}

.item-title {
  font-family: "unscii-8", monospace;
  font-size: 12pt;
}

.create {
  background: rgba(127, 168, 82, 0.8);
  box-shadow: 0px 8px 20px rgba(66, 106, 22, 0.8);
}

#terminal {
  visibility: hidden;
  cursor: default;
  border-radius: 3px;
  border-color: rgba(0, 0, 0, 0.8);
  border-style: solid;
  border-width: 12px 15px 12px 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.8);
}
#terminal:focus {
  outline: none;
  caret-color: transparent;
  color: transparent;
}

#footer {
  visibility: hidden;
  font-family: "unscii", monospace;
  font-size: 14pt;
  color: #333;
  padding-top: 20px;
  width: 100%;
  text-align: end;
  display: flex;
  justify-content: space-between;
}
#footer a {
  color: #333;
  text-decoration: none;
}

.warning-f {
  animation: flash 1s linear;
}
@keyframes flash {
  10% { color: #d01717; }
}

.warning-b {
  animation: flash 1s linear;
}
@keyframes flash {
  10% { background: #d01717; }
}

/* Login form */
/* ------------------------------------------------------------------------------------------------------------------ */
#login-form {
  display: flex;
  flex-flow: column;
  font-family: "unscii-16", monospace;
  font-size: 14pt;
  padding: 20px 30px;
}
#login-form .header {
  margin: 10px 0 10px 0;
}

#login-form .logo, #login-form button {
  margin: 20px;
  align-self: center;
}

#login-form button {
  background: rgba(127, 168, 82, 0.8);
  box-shadow: 0px 8px 20px rgba(66, 106, 22, 0.8);
  font-family: "unscii-16", monospace;
  font-size: 14pt;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 3px;
}

#login-form button:active {
  box-shadow: 0px 8px 10px rgba(66, 106, 22, 0.8);
}

/* Style helpers */
/* ------------------------------------------------------------------------------------------------------------------ */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.spinning {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(-360deg); }
}

.hidden {
  display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.crisp {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}
