html,body { height: 100%; margin: 0px; padding: 0px; }

body {
  background-image: url("../images/skulls.png");
  background-repeat: repeat;
  display: flex;
  flex-flow: column;
}

@font-face {
  font-family: "unscii";
  src: url("../fonts/unscii-16.woff") format('woff');
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.spinning {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(-360deg); }
}

#container {
  flex-grow : 1;
  margin: 0 30px 30px 30px;
  background: #00000030;
  border-radius: 3px;
}

#titlebar {
  font-family: "unscii", monospace;
  font-size: 14pt;
  color: #333;
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
#titlebar a {
  color: #333;
  text-decoration: none;
}
.disabled {
  color: #999 !important;
}
.title {
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
}

.nav-panel, .tool-panel, .profile-panel {
  display: inline-block;
}

.button {
  display: inline-block;
  cursor: pointer;
}

.crisp {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

#terminal {
  visibility: hidden;
  cursor: default;
  border-radius: 3px;
  border-color: rgba(0, 0, 0, 0.8);
  border-style: solid;
  border-width: 12px 15px 12px 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.8);
}
#terminal:focus {
  outline: none;
  caret-color: transparent;
  color: transparent;
}

#footer {
  visibility: hidden;
  font-family: "unscii", monospace;
  font-size: 14pt;
  color: #333;
  padding-top: 20px;
  width: 100%;
  text-align: end;
  display: flex;
  justify-content: space-between;
}
#footer a {
  color: #333;
  text-decoration: none;
}

.warning {
  animation: flash 1s linear;
}
@keyframes flash {
  10% { color: red; }
}

.hidden {
  display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
