@font-face {
    font-family: "unscii";
    src: url("/fonts/unscii-16.woff");
    font-smooth: never;
    -webkit-font-smoothing: none;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

@-webkit-keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 718.1165771484375px;
        stroke-dasharray: 718.1165771484375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 718.1165771484375px;
    }
}

@keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 718.1165771484375px;
        stroke-dasharray: 718.1165771484375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 718.1165771484375px;
    }
}

@-webkit-keyframes animate-svg-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(0, 0, 0);
    }
}

@keyframes animate-svg-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(0, 0, 0);
    }
}

.svg-elem-1 {
    -webkit-animation: animate-svg-stroke-1 10s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
        animate-svg-fill-1 8s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
    animation: animate-svg-stroke-1 10s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
        animate-svg-fill-1 8s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
}

body {
    margin: 0;
    padding: 0;
    background: url("/images/pcb.png");
    font-family: "unscii";
}

h1 {
    text-shadow: 5px 5px 10px black;
}

h2 {
    font-weight: normal;
    margin: 0px;
}

h3 {
    font-weight: normal;
}


hr {
    color: white;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    color: white;
}

#background-video {
    object-fit: cover;
    min-height: 600px;
    position: absolute;
    width: 100%;
    padding: 0;
    top: 0;
    left: 0;
    z-index: -1;
}

.video-wrapper {
    width: 100%;
    min-height: 400px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


#header-title {
    min-height: 400px;
}

#header-faq {
    background:
        /* top, transparent black, faked with gradient */
        linear-gradient(rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.5)),
        /* bottom, image */
        url("/images/header.png");
}

table {
    border: 3px solid white;
    table-layout: fixed;
    width: 100%;
}

th, td {
    padding: 10px;
    border: 1px solid white;
}

header {
    position: relative;
    overflow: hidden;
    padding: 0;
}


footer {
    padding: 1em;
    position: relative;
    background:
        /* top, transparent black, faked with gradient */
        linear-gradient(rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.3));
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(110, 110, 110);
}

.codeblock {
    background-color: rgb(54, 54, 54);
    padding: 10px;
}

a {
    color: rgb(148, 54, 54);
    text-decoration: none;
    filter: drop-shadow(0, 0, 5, white);
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
}

.download-executable-jar-for-free {
    display: block;
    background-color: rgb(148, 54, 54);
    color: white;
    padding: 10px;
    text-decoration: none;
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
}

.download-executable-jar-for-free:hover {
    background-color: white;
    color: black;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
}

a:hover {
    color: white;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
}

.heading-title h2::after {
    content: "┃";
    display: inline-block;
    animation: cursor-blink 1s steps(2) infinite;
}


.heading-title {
    color: White;
    text-align: center;
}

@media (max-width: 800px) {
    .content {
        flex-direction: column;
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-img {
    padding-right: 10px;
}

.feature-content {
    display: flex;
    flex-direction: row;
}

.feature {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
    color: White;
    width: 500px;
    height: 20%;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
}

kbd {
    border-radius: 3px;
    padding: 1px 2px 0;
    border: 1px solid white;
}

.faq {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
    color: White;
    height: 20%;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 5px;
}

.faq-img {
    width: 60%;
    height: auto;
}

@media (max-width: 800px) {
    .feature {
        width: auto;
    }
}