@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

@-webkit-keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 718.1165771484375px;
        stroke-dasharray: 718.1165771484375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 718.1165771484375px;
    }
}

@keyframes animate-svg-stroke-1 {
    0% {
        stroke-dashoffset: 718.1165771484375px;
        stroke-dasharray: 718.1165771484375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 718.1165771484375px;
    }
}

@-webkit-keyframes animate-svg-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(0, 0, 0);
    }
}

@keyframes animate-svg-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(0, 0, 0);
    }
}

.svg-elem-1 {
    -webkit-animation: animate-svg-stroke-1 10s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
        animate-svg-fill-1 8s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
    animation: animate-svg-stroke-1 10s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
        animate-svg-fill-1 8s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
}
